.match-box {
    background-color: #331d30; 
    
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    margin-bottom: 1rem;
}

.match-info-main {
    padding-top:1.5rem;
    padding-bottom:1rem;


    background-color: #3d253b; 
    
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    
}

.match-box-champ-img{
    border-radius: 100px;
    height: 4rem;
    width: 4rem;
}

.match-bar-team-img{
    border-radius: 100px;
    height: 1.5rem;
    margin-right: 1rem;
    width: 1.5rem;
}

.participants {
    background-color: #5f4c5c; 
    
    border-radius: 6px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    gap: 8px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
    width: 10rem;
}

.player-match-item{
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 10px;
    
}

.empty {
    height: 2rem;
    width: 2rem;
    background-color: #5f4c5c;
   border-radius: 5px;
   display: inline-block;
   vertical-align: middle;
   
}

.match-kda {
    color:aliceblue;
    font-size: 1rem;
    display: inline;
}

.participant-name {
    color: aliceblue;
    font-size: .8rem;
    text-decoration: none;
}
.first-col {
    padding-right: 0px;
   
}

.second-col {
    padding-right: 0px;
    padding-left: 0px;
}
.match-cs {
    color: aliceblue;
    font-size: .8rem;
    display: inline;
}


.green {
    color: rgb(3, 110, 3);
  }
  
  .yellow-green{
    color: yellowgreen;
  }
  
  .orange {
    color: rgb(172, 113, 4);
  }
  
  .red {
    color: rgb(145, 4, 4);
  }

  .match-kda-calc {
    display: inline;
    font-size: .8rem;
  }

  .sum-container {
    display: inline-block;
    
  }

  .sum-img {
    height: 1.1rem;
    width: 1.1rem;
    margin-left: .2rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .rune-img{
    height: 1.1rem;
    width: 1.1rem;
    margin-left: .2rem;
  }

  .match-img-container {
    padding-left:.4rem;
  }

  .vision-score {
    color: aliceblue;
    font-size: .8rem;
  }

  .ward {
    border-radius: 7px;
    height: 1rem;
    width:1rem;
  }

  .player-page-type {
    color: rgb(213, 203, 214);
    font-size: 1.2rem;
    align-items: center;
  }
  .decorative-lol-match-1 {
    background-color: rgb(95, 81, 94);
    height: .3rem;
    width: 100%;
    border-radius: 2px;
  }

  .decorative-lol-match-2{
    background-color: rgb(95, 81, 94);
    height: 100%;
    border-radius: 100px;
  }

  .lol-damage {
    color: rgb(160, 156, 161);
    font-size: .8rem;
  }

  /* .given {
    color: rgb(9, 121, 9);
  }

  .taken {
    color: rgb(121, 13, 13);
  } */


  .btn.active .lines::before {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin: 2px auto;
}

.lines {
    display: inline-block;
    width: 3px;
    height: 21px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 18px;
    margin: 2px auto;
    transition: transform 0.3s;
}



.btn.active .lines {
    transform: rotate(90deg);
}

.btn-match {
    background-color: #52314c;
    outline: none;
    border: none;
}

.btn-match:hover {
    outline: none;
    background-color: #4e3f4c;
}

.btn.active {
    background-color: #7e667b;
}

.item-container {
  margin-left: 1rem;
}