.nav-link  {
    color:rgb(255, 255, 255);
}

.nav-link:hover {
    cursor: pointer;
    color:rgb(255, 255, 255);
}

.btn-purple {
    background-color: #332030;
}

.btn-purple:hover {
    background-color: rgb(81, 2, 155);
}

.block {

    box-shadow: 0px 4px 10px rgba(99, 95, 95, 0.3); /* Add a subtle box shadow for depth */
}

.nav-form {
    width: 33rem;
}
/* rgb(27, 1, 51) */

@media (max-width: 1440px) {
    .nav-form {
      width: 200px;
    }
  }

 .nav-search-button:hover{
    background-color: #332030 ;
}

.nav-search-button{
    border-color: #332030 ;
}