.nav-link  {
    color:rgb(50, 40, 51);
    font-size: 1.2rem;
}

.nav-link:hover {
    cursor: pointer;
    color:rgb(213, 203, 214);
}

.btn-purple {
    background-color: #201625;
}

.btn-purple:hover {
    background-color: rgb(81, 2, 155);
}

.block {

    box-shadow: 0px 4px 10px rgba(99, 95, 95, 0.3); /* Add a subtle box shadow for depth */
}

.nav-form {
    width: 33rem;
}
/* rgb(27, 1, 51) */

@media (max-width: 1440px) {
    .nav-form {
      width: 200px;
    }
  }

 .nav-search-button:hover{
    background-color: #332030 ;
}

.nav-search-button{
    border-color: #332030 ;
}

.ml-auto{
    margin-left: auto;
}

@media (max-width: 800px) {
    .navbar-nav{
        display: flex;
  align-items: center; /* Vertically center items */
  list-style-type: none; /* Remove list-style */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
    }
    .nav-item{
        display: inline;
    }
    
  }

  .pl-1{
    margin-left: .5rem;
    
  }

  .destiny-nav{
    margin-right: .3rem;
  }


  .val-nav{
    margin-right: -.4rem;
  }

  .val-nav-container{
    margin-top: .18rem;
    margin-left: .6rem;
  }


  .destiny-nav-container{
    margin-top: .18rem;
    margin-left: .6rem
  }

  .tft-nav-container{
    margin-left: .6rem;
  }