.player-leaderboard {
    background-color: rgba(red, green, blue, .3);
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    
}

.test {
    color: rgb(213, 203, 214);
}


.icon-leader {
    border-radius: 30px;
}

.player-leader-main {
    background-color: #201625; 
    padding-top:20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}
.player-leader-second {
    background-color: #4b4050; 
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.lol-home-name{
    color: rgb(213, 203, 214);
    font-size: 2rem;
}

.lol-home-lp{
    color: rgb(213, 203, 214);
    font-size: 1.2rem;
}


